<%- include _admin-header -%>

<div class="search-page search-content-1">
</div>

<div class="portlet box dark">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Quotes
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <div class="search-bar ">
            <div class="row">
                <div class="col-md-12">
                    <form action="" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for quotes" name="search" value="<%= search %>" />
                            <span class="input-group-btn">
                                <button class="btn dark uppercase bold" type="submit">Search</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <p class="search-desc clearfix"></p>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-condensed flip-content">
            <thead class="flip-content">
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Email</th>
                    <th>Tiling</th>
                    <th>Size</th>
                    <th>Size 3</th>
                    <th>Id product</th>
                    <th>Added</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (i in quotes) { %>
                <tr>
                    <td><a href="/admin/quotes/<%= quotes[i]._id %>"><%= quotes[i].name %></a></a></td>
                    <td><a href="/admin/quotes/<%= quotes[i]._id %>"><%= quotes[i].number %></a></td>
                    <td><a href="/admin/quotes/<%= quotes[i]._id %>"><%= quotes[i].email %></a></td>
                    <td><a href="/admin/quotes/<%= quotes[i]._id %>"><%= quotes[i].tiling %></a></td>
                    <td><a href="/admin/quotes/<%= quotes[i]._id %>"><%= quotes[i].size_1 %> <%= quotes[i].size_2 %></a></td>
                    <td><a href="/admin/quotes/<%= quotes[i]._id %>"><%= quotes[i].size_3 %></a></td>
                    <td>
                        <% if(quotes[i].size_3){ %>
                            <a target="_blank" href="https://naturalstone.myshopify.com/admin/products/<%= quotes[i].id_product %>/variants/<%= quotes[i].size_3 %>"><%= quotes[i].id_product %></a>
                        <% } else{ %>
                            <a target="_blank" href="https://naturalstone.myshopify.com/admin/products/<%= quotes[i].id_product %>"><%= quotes[i].id_product %></a>
                        <% } %>
                    </td>
                    <td><a href="/admin/quotes/<%= quotes[i]._id %>"><%= datetimeFormater(quotes[i].added, 'll') %></a></td>
                    <td class="text-right"><a href="/admin/quotes/<%= quotes[i]._id %>/edit" class="btn btn-sm default next">Edit <i class="fa fa-pencil"></i></a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <div class="dataTables_paginate paging_bootstrap_extended">
            <div class="pagination-panel">
                Page
                <a href="/admin/quotes/?page=<%= currentPage > 1 ? currentPage - 1 : 1 %><% if(search){ %>&search=<%= search %><% } %>" class="btn btn-sm default prev <%= currentPage > 1 ? '' : 'disabled' %>"><i class="fa fa-angle-left"></i></a>
                <input type="text" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlenght="5" value="<%= currentPage %>" style="text-align:center; margin: 0 5px;" onchange="var p = this.value; if (p && parseInt(p) % 1 == 0 && p > 0 && p <= < %= pages % > ){ window.location.href = '/admin/quotes/?page=' + parseInt(p) + '<%- (search ? ' & search = ' + search : '') %>'; } else {this.value = < %= currentPage % > }">
                <a href="/admin/quotes/?page=<%= currentPage < pages ? currentPage + 1 : pages %><% if(search){ %>&search=<%= search %><% } %>" class="btn btn-sm default next <%= currentPage < pages ? '' : 'disabled' %>"><i class="fa fa-angle-right"></i></a>
                of
                <span class="pagination-panel-total"><%= pages %></span>
            </div>
        </div>
    </div>
</div>

<%- include _admin-footer -%>